header {
  background: #557287;
  margin-bottom: 1.45rem;
  width: 100%;
}

div {
  margin: 0 auto;
  max-width: 960;
  padding: 1.45rem 1.0875rem;
}

h1 {
  margin: 0;
}

.link {
  color: #fff;
  text-decoration: none;
}
